@model lab1.ViewModel.MTHViewModel
@using lab1.Models;
@{
    ViewBag.Title = "Confirmation";
}

<h2 style="text-align:center">Payment passed sucsesfully !</h2>
<h4 style="text-align:center">In 5 seconds you will get back to start page...</h4>
<meta http-equiv="refresh" content="5;URL=http://localhost:4905/User/MoviesSort" />

<div>
    <table style="width:800px" border="1" align="center">
        @{
            int i = 1;
            foreach (Movie movie in Model.movies)
            {
                if (i % 2 == 0)
                {
                    <tr style="margin:80px"></tr> }

                <tb style="margin:80px">
                    <th style="text-align:center">
                        @movie.movieName

                        <div style="text-align:center">
                            <form action="buyATicket" method="post">
                                <br />
                                <input type="image" src=@movie.movieImg height="190" width="126" alt=@movie.movieName name=@movie.movieName />
                                <br />
                                <div style="font-weight:normal">
                                    <input id="movieNameId" name="movieName" type="text" value="@movie.movieName" hidden="hidden" />                                        <input id="movieNameId" name="movieName" type="text" value="@movie.movieName" hidden="hidden" />
                                    <input id="hallId" name="hall" type="text" value="@movie.hall" hidden="hidden" />
                                    <input id="movieDateId" name="movieDate" type="text" value="@movie.movieDate" hidden="hidden" />
                                    <input id="movieTimeId" name="movieTime" type="text" value="@movie.movieTime" hidden="hidden" />

                                    <u>popularity:</u> @movie.popularity<br />
                                    <u>Category:</u> @movie.category<br />
                                    <u>Date:</u> @movie.movieDate <br />
                                    <u>At Time:</u> @movie.movieTime <br />
                                    <u>Hall:</u> @movie.hall <br />
                                    <u>Minimal age:</u> @movie.minAge<br />
                                    <u>Cost:</u>
                                    @{
                                        if (@movie.sale != 0)
                                        { <del style="color:red">@movie.cost $</del> <lable style="margin-left:7px"></lable>
                                        <lable style="color:green">@movie.newCost $</lable> <lable style="margin-left:7px"></lable>
                                        <u style="color:green">(@movie.sale %  Sale)</u>
                                    }
                                    else
                                    { <lable> @movie.cost $</lable> <br /> }
                                var sumCost = 0;
                                i = 1;
                                var seats = "";
                                List<Ticket> tempTickets = new List<Ticket>();
                                foreach (Ticket ticket in Model.tickets)
                                {
                                    if (ticket.movieName.Equals(movie.movieName)) { tempTickets.Add(ticket); }
                                }
                                foreach (Ticket ticket in tempTickets)
                                {
                                    if (ticket.movieName.Equals(movie.movieName))
                                    {
                                        sumCost += ticket.cost;
                                        if (i < tempTickets.Count)
                                        {
                                            seats += @ticket.seat + ",";
                                        }
                                        else
                                        { seats += @ticket.seat; }
                                    }
                                    i++;
                                }
                                <u>Number of Tickets: </u> @i <br />
                                <u>Seats: </u> @seats <br />
                                <u>Cost for this movie: </u> @(sumCost + "$") <br />

                                    }

                                    <br /> <br />
                            </form>
                        </div>

                    </th>
                </tb>
                i++;

            }
        }
    </table>
</div>
<br /> <br />
@{
    var AllCost = 0;
    foreach (Ticket ticket in Model.tickets)
    {
        if (ticket.token == 1)
        {
            AllCost += ticket.cost;
        }
    }
}

